<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Search for volunteering opportunities</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
  <body>
  
<div class="container">
<table>
<tr><th>
Name
</th><td>
<span><%= user.firstName %> <%= user.lastName %></span>
</td>
<td>
<span></span>
</td>

</tr>

<tr>
<th>Email</th>
<td><span><%= user.email %></span></td>
</tr>


 <tr align="left">
<th>What would you like to volunteer for?</th>
</tr>
<% for(var i=0; i<user.volunteer.length; i++) {%>
<tr >
<td >
<span><%= user.volunteer[i].expertise_name %></span>
</td>
</tr>
 <% } %>
 
<form method="post" action="/addExpertiseVolunteer" >
 <tr>
<td><select name="selectExpertiseVolunteer">
 <% for(var i=0; i<expertiseAll.length; i++) {%>

 <option value ='<%-JSON.stringify(expertiseAll[i])%>'><%= expertiseAll[i].expertise_name %></option>
  
  <% } %>
</select>
<input name="email" value="<%= user.email %>" style="visibility:hidden"></input>

</td>
<td>
<button class="btn btn-outline-success">Add</button>
</td>
</tr>
</form>

<tr align="left">
<th>What can you train volunteers in?</th></tr>

<% for(var i=0; i<user.train.length; i++) {%>
<tr >
<td ><span><%= user.train[i].expertise_name %></span></td> </tr>
<% } %>
<form method="post" action="/addExpertiseTrain" >
<tr>
<td><select name="selectExpertiseTrain">
 <% for(var i=0; i<expertiseAll.length; i++) {%>
 <option  value ='<%-JSON.stringify(expertiseAll[i])%>'  ><%= expertiseAll[i].expertise_name %></option>
  <% } %>
</select>
<input name="email" value="<%= user.email %>" style="visibility:hidden"></input>


</td>
<td>
<button class="btn btn-outline-success">Add</button>
</td>
</tr>
</form>
 

</table>
  </div>
  </form>
  <form method="post" action="/addExpertise">
  <button>Add</button>
  </form>
  
 <span >Events created by me:</span>
  <% for(var i=0; i<events.length; i++) {%>
<tr >
 <form method="post" action="/goToEvent">
<td ><a><%= events[i].name %></a></td> </tr>
<input name="event_id" value="<%= events[i].event_id %>" style="visibility:hidden"></input>
<input name="email" value="<%= user.email %>" style="visibility:hidden"></input>
  </form>
<% } %>


  <br>
  </body>
</html>