<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Search for volunteering opportunities</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='stylesheets/search.css' />

</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
    <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span class="navbar-toggler-icon"></span></button><a href="/" class="navbar-brand"><img src="https://raptortech.com/wp-content/themes/Raptor_Theme/images/volunteer-coordinator-icon.png" height="30px" width="30px" class="img-fluid"></a>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/search" class="nav-link">Opportunity</a></li>
            <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
            <li class="nav-item"><a href="/addEvent" class="nav-link">Create Event</a></li>

        </ul>

        <!--
        <form class="form-inline mt-2 mt-md-0 ui-widget">
        <input class="form-control mr-sm-2" id="tags" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
        <ul class="navbar-nav justify-content-end">
            <% if ( user.firstName == 'True' ) { %>
            <li class="nav-item"></li><a href="/home" class="nav-link">Join Us</a>
            <% } else{%>

            <li class="nav-item"></li><a href="/home" class="nav-link">Welcome, <%= user.firstName%></a>
            <li class="nav-item"></li><a href="/signout"><button type="button" class="btn btn-info">logout</button></a>
            <% }%>
        </ul>


    </div>
</nav>




<div class="container">
    </br></br></br>
    <img src="/image/welcome.png" width="800px" height="80px">
    <p>Here, you are able to sign up for volunteering events or find trainers to help you with what you need</p>
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <% if(flagsearch == "False"){%>
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Events</a>
                <%} else if(flagsearch == "True") {%>
            <a class="nav-link" data-toggle="tab" href="#home" role="tab">Events</a>
                    <%}%>
        </li>
        <li class="nav-item">
            <% if(flagsearch == "False"){%>
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Trainers</a>
            <%} else if(flagsearch == "True") {%>
            <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Trainers</a>
            <%}%>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <% if(flagsearch == "False"){%>
        <div class="tab-pane active" id="home" role="tabpanel">
        <%} else if(flagsearch == "True") {%>
            <div class="tab-pane" id="home" role="tabpanel">
                <%}%>

            <div class="container">



                <table class="table table-striped">

                    <tbody>






                <section class="col-xs-12 col-sm-6 col-md-12">


                    <% for(var i=0; i < event.length; i++) { if(event[i]){%>
                    <tr>

                    <article class="search-result row">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <a href="eventdetail/<%= event[i].event_id%>" title="Lorem ipsum" class="thumbnail"><img alt = "https://umma.umich.edu/sites/default/files/styles/menu_feature/public/menu-annex-fall2017.jpg" onerror="this.onerror=null;this.src=this.alt;" src= <%="https://picsum.photos/250/140?image=" + Math.floor(Math.random() * 1000)%>  /></a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <ul class="meta-search">
                                <li><i class="glyphicon glyphicon-calendar"><img src="https://www.flaticon.com/premium-icon/icons/svg/55/55281.svg" width="12" length="12"/></i> <span><%= event[i].date%></span></li>
                                <li><i class="glyphicon glyphicon-time"><img src="http://www.publicdomainpictures.net/pictures/80000/velka/clock-icon.jpg" width="12" length="12"/></i> <span><%= event[i].time%></span></li>
                                <li><i class="glyphicon glyphicon-tags"><img src="http://downloadicons.net/sites/default/files/tag-icon-23340.png" width="12" length="12"/></i> <span><%= event[i].venue%></span></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7">
                            <h3><a href="eventdetail/<%= event[i].event_id%>" title=""><%= event[i].name%></a></h3>
                            <p><%= event[i].description%></p>
                            <form action="/volunteer" method="post">
                                <input type="hidden" type="text" name="eventid" value="<%= event[i].event_id%>"  />
                                <button type="submit" class="btn btn-info" style='float: right;'>Count me in</button>
                            </form>


                        </div>

                        <span class="clearfix borda"></span>
                    </article>
                    </tr>




                    <% }} %>







                </section>
                    </tbody>
                </table>
            </div>


        </div>
            <% if(flagsearch == "True"){%>
            <div class="tab-pane active" id="profile" role="tabpanel">
                <%} else if(flagsearch == "False") {%>
                <div class="tab-pane" id="profile" role="tabpanel">
                    <%}%>
                    <br>
            <form method="post" action="/search-trainer" >
                <tr>
                    <td><select name="selectExpertise" class="custom-select" >
                            <% for(var i=0; i<expertiseAll.length; i++) {%>

                            <option value ='<%-JSON.stringify(expertiseAll[i])%>'><%= expertiseAll[i].expertise_name %></option>

                            <% } %>
                        </select>
                        <input name="email" value="<%= user.email %>" style="visibility:hidden"></input>

                    </td>
                    <td>
                        <button class="btn btn-warning">Find your trainer</button>

                    </td>
                </tr>
                <tr><td><br/></td></tr>
            </form><br>
                    <% if(flagsearch == "True" && trainer.length > 0){%>
                    <p>Here are the trainors found for <%= expertname%>:</p>
                        <%} else if(flagsearch == "True" && trainer.length == 0){%>
                    <p>Sorry, no results found for <%= expertname%>:</p>
                    <%}%>



            <table class="table table-striped">
                <thead class="thead-inverse">
                <tr>

                    <th scope="row">#</th>
                    <th >First Name</th>
                    <th >Email Address</th>
                    <th>&nbsp&nbspTake Actions</th>

                </tr>
                </thead>
                <tbody>
                <% for(var m=0; m < trainer.length; m++) { %>
                <form action="/trainer-message" method="post">
                <tr>
                    <td scope="row"><%= m+1 %></td>
                    <td><%= trainer[m].firstName%></td>
                    <td><%= trainer[m].email %></td>
                    <td><input type="hidden" type="text" name="username" value="<%= trainer[m].username%>"  />
                        <input type="hidden" type="text" name="email" value="<%= trainer[m].email%>"  />
                        <button type="submit" class="btn btn-warning">Contact me</button></td>
                </tr>
                </form>

                <% } %>
                </tbody>
            </table>




        </div>

    </div>
</div>

</body>
</html>
<!-- Nav tabs -->
